<!doctype html>
<html>
    <body>
    	<p>Blockchain Explorer</p>
    	<p>Latest blocks</p>
		{% if latest_blocks %}
			<table>
				<tr>
					<th>
						Height
					</th>
					<th>
						Hash
					</th>
					<th>
						Mined
					</th>
					<th>
						Reward
					</th>
				</tr>
			{% for block in latest_blocks %}
				<tr>
				{% for feature in block %}
					{% if feature == block.0 %}
						<td>
							<a href="/BitcoinExplorer/{{block.0}}/">{{feature}}</a>
						</td>
					{% else %}
						<td>
							{{feature}}
						</td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
		{% else %}
			<p>No polls are available.</p>
		{% endif %}
	</body>
</html>